
div#outer
{
    width: 100%;
    text-align: center;
}

div#container
{
    height: 10%;
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    text-align: center;
}

div#title
{
    position: relative;
    width: 100%;
    text-align: center;
}

span
{
    font-family: "WeeklyPro-Regular";
}

a#my_profile:link
{
    /* display: block; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #666666;
    text-decoration: none;
    width: 20%;
}

a#my_profile:visited
{
    color: #666666;
    text-decoration: none;
}

a#my_profile:hover
{
    color: yellow;
    text-decoration: none;
}

a#my_profile:active
{
    color: #666666;
    text-decoration: none;
}

div#content
{
    text-align: center;
}

div#title
{
    line-height: 170%;
    /* overflow: auto; */
}

p#desc
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: yellow;
    width: 20%;
    padding-left: 40%;
    line-height: 100%;
}

div#search
{
    position: relative;
    vertical-align: middle;
}

input#query_box
{
    width: 50%;
    height: 40px;
    font-family: "WeeklyPro-Regular";
    /* background-color: #F5F5F5; */
    background-color: transparent;
    cursor: text;
    color: white;
    border-radius: 75px;
    border: 2px solid #666666;
    padding-left: 20px;
    padding-right: 20px;
    outline-style: none;
    font-size: 1.2em;
    vertical-align: middle;
}

input#query_box:hover
{
    border: 2px solid yellow;
    /* box-shadow: 0 0 0 2px aqua; */
}

input#search_button
{
    font-family: "WeeklyPro-Regular";
    font-size:10px;
    height: 46px;
    width: 60px;
    color: #666666;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    /* background-color: #F5F5F5; */
    border-radius: 75px;
    border: 2px solid #666666;
    vertical-align: middle;
    line-height: 40px;
    outline-style: none;
}

input#search_button:hover
{
    color: yellow;
    border: 2px solid yellow;
}

body
{
    /* background-color: rgb(21, 21, 36); */
    background-image: url("http://p0u4yewt0.bkt.clouddn.com/bg.jpg");
    background-size: cover;
}