
body
{
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

input#query_box
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 25%;
    height: 40px;
    letter-spacing: 0.6px;
    padding-left: 10px;
    /* background-color: #9c9c9cc0; */
    background-color: transparent;
    /* background-color: white; */
    color: white;
    border:  #9c9c9cc0 1px solid;
    border-radius: 5px;
    outline: none;
}

input#query_box:hover
{
    border: yellow 1px solid;
}

div#query_info
{
    width: 100%;
    background-color: rgb(21, 21, 36);
    /* background-color: black; */
    height: 100px;
}

div#icon_div
{
    width: 10%;
    height: 50px;
    position: absolute;
    margin-left: 10px;
}

div#query_box_div
{
    position: absolute;
    height: 50px;
    margin-left: 60px;
    width: 90%;
}

div#search_button_div
{
    height: 50px;
    margin-left: 5px;
    outline-style: none;
    box-shadow: 0 0 0 0px gray;
}

input#search_button
{
    position: relative;
    font-family: arial,sans-serif;
    font-size:1em;
    height: 40px;
    width: 60px;
    color: yellow;
    font-weight: bold;
    background-color: transparent;
    border-radius: 75px;
    border: #9c9c9cc0 1px solid;
    /* border: none; */
    outline: none;
}

input#search_button:hover
{
    border: yellow 1px solid;
}

div.div-inline
{
    display: inline;
}

img#icon
{
    height:40px;
    width:40px;
}

div#ph
{
    height: 10px;
}

div#ph-2
{
    height: 50px;
}

div.t-filter
{
    margin-top: 55px;
    margin-left: 60px;
}

input.datepicker
{
    height: 26px;
    background-color: transparent;
    border:  white 1px solid;
    border-radius: 5px;
    outline: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    margin-left: 1px;
    width: 4%;
}

input.datepicker:hover
{
    border:yellow 1px solid;
}

div#t-btn-group
{
    margin-left: 15px;
}

button.t-btn
{
    /* position: relative; */
    font-family: arial,sans-serif;
    font-size:1em;
    height: 25px;
    color: yellow;
    font-weight: bold;
    background-color: transparent;
    border-radius: 75px;
    border: #9c9c9cc0 1px solid;
    /* border: none; */
    outline: none;
    width: 60px;
    text-align: center;
}

button.t-btn:hover
{
    border: yellow 1px solid;
}

span.t
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}

span#t-end-at
{
    margin-left: 15px;
}

img.ui-datepicker-trigger
{
    vertical-align: middle;
}

#start-datepicker
{
    vertical-align: middle;
}

#end-datepicker
{
    vertical-align: middle;
}

div#t-datepicker
{
    border-top-color: rgb(214, 211, 211);
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

/* loading */
img#loading
{
    height: 256px;
    width: 256px;
}

/* recommend */
div#recommend
{
    margin-top: 30px;
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    font-weight: bold;
}

div#recommend span
{
    color: rgb(21, 21, 36);
}

div#recommend a
{
    text-decoration: underline;
    margin-left: 15px;
    color: #666666;
}

div#recommend a:hover
{
    text-decoration: none;
    color: rgb(21, 21, 36);
    text-shadow: 0 0 .1em, 0 0 .2em;
}

/* results */

div#results
{
    text-align: center;
    vertical-align: middle;
    max-width: 70%;
    width: 70%;
    margin: 0 auto;
    height: auto;
    flex: 1;
    height: 100%;
}

/* Mansory */

.mansory
{
    margin-top: 30px;
    column-count: 5;
    /* column-width: 300px; */
    column-gap: 15px;
}

figure
{
    position: relative;
    /* float: left; */
    overflow: hidden;
}

figure img
{
    /* width: 100%; 
    height: 250px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 5px;  */
    position: relative;
    display: block;
    max-width: 100%;
	width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    /* height: 100vw; */
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figcaption
{
    text-align: left;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}

figcaption > div {
	position: relative;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure span,
figure p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure span 
{
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    opacity: 0;
    color: #666666;
    font-weight: bold;
    font-family: "WeeklyPro-Regular";
}

@media only screen and (max-width: 1500px) {
    figure span,
    figure p 
    {
        font-size: 1em;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 1300px) {
    figure span,
    figure p
    {
        font-size: 0.7em;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 1000px) {
    figure span,
    figure p
    {
        font-size: 0.1em;
    }
}

@media only screen and (min-width: 1501px) {
    figure span,
    figure p
    {
        font-size: 1.2em;
        letter-spacing: 1px;
    }
}

figure p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure:hover
{
    background: rgb(21, 21, 36);
}

figure:hover img
{
    opacity: 0.1;
}

figure:hover p
{
    color: yellow;
    opacity: 1;
}

figure:hover span
{
    opacity: 1
}

figure:hover img,
figure:hover span,
figure:hover p {
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    color: yellow;
}

div#load_more
{
    vertical-align: middle;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

button.lm-btn
{
    font-family: arial,sans-serif;
    font-size:1em;
    height: 30px;
    min-width: 100%;
    width: 100px;
    color: yellow;
    font-weight: bold;
    background-color: rgb(21, 21, 36);
    border-radius: 75px;
    border: rgb(21, 21, 36) 1px solid;
    /* border: none; */
    outline: none;
    display: none;
}

button.lm-btn:hover
{
    opacity: 0.7;
    color: yellow;
    text-shadow: 0 0 .1em, 0 0 .2em;
}

footer#bottom_slide
{
    width: 100%;
    background-color: rgb(21, 21, 36);
    height: 60px;
    text-align: center;
    padding-top: 5px;
    /* position: fixed;
    bottom: 0; */
}

footer#bottom_slide span,
footer#bottom_slide a
{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-shadow: 0 0 .1em, 0 0 .2em;
}

footer#bottom_slide a
{
    text-decoration: underline;
}

div#error_info
{
    background-color:rgb(248, 240, 226);
    text-align: center;
    width: 100%;
}

div#error_logo_div
{
    display: inline-block;
    vertical-align: middle;
}

div#error_msg_div
{
    display: inline-block;
    vertical-align: middle;
    color: #9c9c9cc0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

div.float-btn
{
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 120px;
    right: 50px;
    /* background: wheat; */
    display: none;
    border-radius: 50%;
    background: wheat url("http://p0u4yewt0.bkt.clouddn.com/top32.png") center center no-repeat;
}

div.float-btn:hover
{
    background: transparent url("http://p0u4yewt0.bkt.clouddn.com/icon48.png") center center no-repeat;
    border: rgb(21, 21, 36) 1px solid;
}