<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>All About Me</title>
        <link rel="icon" href="http://p0u4yewt0.bkt.clouddn.com/icon48.png" type="image/x-icon"/>
        <link rel="shortcut icon" href="http://p0u4yewt0.bkt.clouddn.com/icon48.png" type="image/x-icon"/>
        <link rel="stylesheet" href="/css/resumePage.css"/>
    </head>
    <body>
        <div class="content">
            <div class="mansory">
                <a href="/pdf?type=en">
                    <figure class="me" id="en-resume">
                        <p>English Resume</p>
                    </figure>
                </a>
                <a href="/pdf?type=ch">
                    <figure class="me" id="ch-resume">
                        <p>中文简历</p>
                    </figure>
                </a>
                <a href="https://github.com/AcepcsMa">
                    <figure class="me" id="github">
                        <p>My Github</p>
                    </figure>
                </a>
            </div>
        </div>
    </body>
</html>