<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${query}"></title>
        <link rel="icon" href="http://p0u4yewt0.bkt.clouddn.com/icon48.png" type="image/x-icon"/>
        <link rel="shortcut icon" href="http://p0u4yewt0.bkt.clouddn.com/icon48.png" type="image/x-icon"/>
        <!-- <script src="https://s2.pstatp.com/cdn/jquery/3.2.1/jquery.js" charset="utf-8"></script> -->
        <script src="/js/jquery-3.2.1.js"></script>
        <script src="/js/result.js" charset="utf-8"></script>
        <link href="/css/result.css" rel="stylesheet" />
        <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js" charset="utf-8"></script>
        <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="/css/jquery-ui.css" />
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <meta charset="utf-8" />
        <meta name="title" content="search result"/>
        <meta name="author" content="Haoxiang Ma"/>
    </head>
    <body>
        <div id="query_info">
            <div id="ph">
                
            </div>
            <div id="icon_div" class="div-inline">
                <a href="http://www.ace-tu.com">
                    <img id="icon" src="http://p0u4yewt0.bkt.clouddn.com/icon48.png"/>
                </a>
            </div>
            <div id="query_box_div" class="div-inline">
                <form action="/search" method="get">
                    <input id="query_box" type="text" name="query" th:value="${query}"/>
                    <input type="submit" value="GO" id="search_button"/>
                </form>
            </div>
            <div class="t-filter">
                <div class="div-inline" id="t-datepicker-group">
                    <span class="t">Start At</span>
                    <input type="text" class="datepicker" id="start-datepicker" />
                            
                    <span class="t" id="t-end-at">End At</span>
                    <input type="text" class="datepicker" id="end-datepicker" />
                </div>
                <div class="div-inline" id="t-btn-group">
                    <button value="Reset" class="t-btn" onclick="resetTimeFilter()">Reset</button>
                    <button value="Apply" class="t-btn" onclick="applyTimeFilter()">Apply</button>
                </div>
            </div>
        </div>
        <div id="recommend">
            <span>Are you looking for: </span>
        </div>
        <div id="results">
        </div>
        <div id="ph">
            
        </div>
        <div id="load_more">
            <button value="Load More" class="lm-btn" onclick="loadSearchData(curPage++, 10)">Load More</button>
        </div>
        <div id="ph">
            
        </div>
        <div class="float-btn">
            
        </div>
        <footer id="bottom_slide">
            <span>Designed and developed by Haoxiang Ma!</span>
            <p>
                <a href="/about-me" target="_blank"><b>ALL ABOUT ME</b></a>
            </p>
        </footer>
        <script>
            var notFound = false;
            var curPage = 0;
            var finished = true;
            // $(document).ready(loadSearchData(curPage++));
            // $(document).ready(loadSearchData(curPage++));
            $(document).ready(function() {
                initData();
            });

            $(document).ready(goTop());

            $("#query_box").autocomplete({
                source: "/ac"
            });

            $(function() {
                $(".datepicker").datepicker({
                    showOn: "both",
                    buttonImage: "css/images/calendar.png",
                    buttonImageOnly: true,
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: "yy-mm-dd"
                });
            });

            $("#results").resize(function() {
                $("#error_info").css("height", $("#results").innerHeight() + "px");
                $("#error_logo_div").css("padding-top", $("#results").innerHeight()/3 + "px");
                $("#error_msg_div").css("padding-top", $("#results").innerHeight()/3 + "px");
            });

            $(document).ready(loadRecommend());
        </script>
    </body>
</html>